[class*="col-"]{
    border: 1px solid white;
    height: 30px;
    color: white;
    text-align: center;
    background-color: rgb(0, 108,250) ;
  }

  .rowSub{
    justify-content: center;
    align-items: center;
    height: 20px;
    text-align: center;
    background-color: rgb(47, 109, 60);
    display: flex;
  }

.row2{
    margin-top: 50px;
    margin-bottom: 50px;
  }

.row2 [class*="col-"]{
    border: 1px solid white; 
    min-height: 30px;
    background-color: rgb(0, 108,250) ;
}

.row3 [class*="col-"]{
  border: 1px solid white; 
  min-height: 30px;
  background-color: rgb(0, 108,250) ;
}